<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="top.xinc.spring.ioc.UserDaoImpl"/>

    <bean id="userService" class="top.xinc.spring.ioc.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="skirt" class="top.xinc.spring.ioc.entity.Clothes">
        <property name="color" value="红色"/>
        <property name="style" value="连衣裙"/>
    </bean>

    <bean id="xizhuang" class="top.xinc.spring.ioc.entity.Clothes">
        <property name="color" value="蓝色"/>
        <property name="style" value="西装"/>
    </bean>

    <bean name="cat" class="top.xinc.spring.ioc.entity.Cat">
        <property name="name" value="咪咪"></property>
        <property name="age" value="2"></property>
    </bean>

    <bean name="dog" class="top.xinc.spring.ioc.entity.Dog">
        <property name="name" value="汪汪"></property>
        <property name="age" value="3"></property>
    </bean>

    <bean name="book1" class="top.xinc.spring.ioc.entity.Book">
        <constructor-arg name="id" value="12345678"></constructor-arg>
        <constructor-arg name="name" value="xinc"></constructor-arg>
        <constructor-arg name="price" value="66.6"></constructor-arg>
    </bean>
    <bean name="book2" class="top.xinc.spring.ioc.entity.Book"/>


</beans>